body{
    margin: 0;
    height: 100%;
}
div{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one{
    background-image: url(https://pbs.twimg.com/media/Fw9k870WYAA4toR?format=jpg&name=4096x4096);
    font-size: 50px;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px #000000;
}

.two{
    background-image: url(https://preview.redd.it/roblox-man-found-in-real-life-v0-vh06f3gqbglb1.png?auto=webp&s=217392bc7ee2a3a03c8b79e77fd42484155c4029);
    font-size: 50px;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px #000000;
}
.middle{
    background-color: rgb(0, 0, 0);
}